#poststuff .mint-box .inside {
    margin: 0;
    padding: 0;
}

ul.mint-tabs-nav {
	margin: 1em 1em 0;
	padding: 0;
	z-index: 99;
	position: relative;
}

ul.mint-tabs-nav li {
	display: inline;
	margin-left: -1px;
}

ul.mint-tabs-nav li:first-child {
	margin-left: 0px;
}

ul.mint-tabs-nav li a {
	background: #f1f1f1;
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #d9d9d9;
	border-bottom: none;
	text-decoration: none;
	color: #ccc;
}

ul.mint-tabs-nav li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.mint-tabs-nav li.active a {
	background: #ffffff;
	color: #333;
    top: 1px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 11px;
}

ul.mint-tabs-nav li.active a span {
    top: -1px;
    position: relative;
	
}

.mint-fields-section {
	border-top: 1px solid #d9d9d9;
}

.mint-fields-section > .mint-fields-row {
	border-top: 0;
}

.mint-section-description {
	padding: 0 10px;
}

.mint-fields-container label {
    display: block;
    padding: 2px 0;
    color: #000;
}

.mint-field label {
    padding-bottom: 6px;
    font-weight: bold;
}

.mint-fields-container li.mint-metabox .mint-metabox-description {
	margin-left: 135px;
	font-size: .875em;
	color: #999;
}

.mint-fields-container li.mint-metabox-checkbox .mint-metabox-description {
	margin-left: 0;
}

.mint-fields-container li.mint-metabox {
	border-bottom: 1px solid #e5e5e5;
	padding: 12px 0px; 
	margin-bottom: 0;
}

.mint-fields-container .mint-field {
	padding: 10px;
}

.mint-fields-container .mint-fields-row + .mint-field,
.mint-fields-container .mint-field + .mint-field {
    border-top: 1px solid #d9d9d9;
}

.mint-fields-container li.mint-metabox:last-child {
	border-bottom: none;
}

.mint-field input[type="text"], 
.mint-field textarea {
	display: block;
	padding: 4px 5px 3px;
	width: 100%;
	resize: vertical;	
}

.mint-field select {
    width: 100%;
}

.mint-field .mint-select-color {
	float: left;
}

#TB_ajaxContent {
	height: 100% !important;
	width: 100% !important;
	padding: 0 !important;
	background: #fff;
}

.mint-fa-modal {
	padding: 10px;
	text-align: center;
}

.mint-fa-modal .mint-fa,
.mint-fa-modal .mint-fa:focus {
	float: left;
    text-align: center;
    vertical-align: middle;
    outline: 0;
}

.mint-fa-modal .mint-fa input {
	display: none;
}

.mint-fa-modal .mint-fa a {
	color: #C2C2C2;
    display: inline-block;
	border: 1px solid #fff;
    padding: 8px;
	width: 25px;
}

.mint-fa-modal .mint-fa a:focus,
.mint-fa-modal .mint-fa.selected a,
.mint-fa-modal .mint-fa a:hover {
	color: #666666;
	-webkit-box-shadow: none;
	box-shadow: none;	
}

.mint-fa-modal .mint-fa.selected a {
	border: 1px solid #0074a2;
	color: #0074a2;
}

.mint-fa-modal .mint-fa i.fa {
	font-size: 1.7em;
}

.mint-fa-modal .mint-fa i.fa:focus {
	outline: 0;
}

.mint-fa-modal .mint-fa .tooltip {
	display: none;
}

.mint-field .mint-fa-holder:after {
	content: " ";
	clear: left;
	display: block;
}

/*
.mint-field .mint-fa-holder {
	max-height: 200px;
	overflow-y: scroll;
}
*/

.fa-select {
	margin-top: 10px;
	margin-left: 15px;
}

.fa-clear {
    font-size: 12px;
    top: 5px;
    margin-left: 5px;
    position: relative;
}

.mint-fa-clear:after {
	content: " ";
	clear: left;
	display: block;
}

.mint-fa-preview {
	padding: 10px;
    border: 1px dashed #333;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 10px;
}

.mint-fa-preview i {
    min-height: 20px;
    min-width: 25px;
    display: block;
}

.mint-fields-row {
    display: table;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

.mint-fields-container .mint-fields-row:first-child {
	border-top: none;
}

.mint-fields-container .mint-fields-row > .mint-field {
	display: table-cell;
    min-width: 0;
    vertical-align: top;
    border: 0;	
}

.mint-fields-row > .mint-field + .mint-field {
    border-left: 1px solid #d9d9d9;
}

.insert-post-type .dashicons {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    color: #82878C;
    font-size: 18px;		
}

.postbox .mint-image-display {
	position: relative;
	width: 100%;
}

.postbox .mint-background-image-holder,
.postbox .placeholder {
	border: 1px solid #e5e5e5;
	background: #f1f1f1;
	width: 100%;
	height: 200px;	
	border-radius: 3px;
	z-index: 50;
	overflow: hidden;
}

.postbox .mint-background-image-holder img {
	width: 100%;
}

.postbox .mint-image-display a.mint-image-remove {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 99;
	text-decoration: none;
	color: #333;
}

.postbox .mint-image-display a.mint-image-remove:focus {
	outline: none;
	box-shadow: none;
}

.postbox .mint-image-button {
	margin: .5em 0 0 0;
	width: 100%;
}

.postbox .placeholder .dashicons {
	left: 50%;
	top: 50%;
	margin: -10px 0 0 -10px;
	position: relative;
}

.postbox .mint-metabox-title {
	text-transform: uppercase;
	font-weight: 500;
}

.postbox h4.mint-metabox-title {
	margin: 1em 0;
}

.postbox .mint-metabox-color .wp-picker-container {
	position: relative;
}

.postbox .mint-metabox-color .wp-picker-holder {
	z-index: 99;
	position: relative;
}

@media only screen and (max-width: 960px) {
	.postbox .floatleft,
	.postbox .col-2 {
		float: none;
		width: 100%;
	}
}